
        <div class="container" >
            <div class="row">
                <ul class="nav">
                    <li  class="col-2">
                        <a routerLink="/ventas">Ventas</a>
                    </li>
                    <li  class="col-2">
                        <a routerLink="/venta">Agregar Venta</a>
                    </li>
                    <li  class="col-2">
                        <a routerLink="/producto">Producto</a>
                    </li>
                    <li  class="col-2">
                        <a routerLink="/cliente">Cliente</a>
                    </li>
                    <li  class="col-2">
                        <a routerLink="/vendedor">Vendedor</a>
                    </li>
                </ul>
            </div>
          
        </div>


